logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

LICENSE
README
activator
activator-launch-1.3.7.jar
activator.bat
app/
build.sbt
conf/
git@github.com:supriyasrivastava/
logs/
project/
public/
target/
test/

